@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-tertiary-fixed: #ffd9e3;
  --color-on-surface-variant: #494551;
  --color-on-tertiary-fixed: #31111d;
  --color-surface-tint: #6750a4;
  --color-primary-fixed: #e9ddff;
  --color-on-primary: #ffffff;
  --color-secondary-container: #e8def9;
  --color-primary: #4f378a;
  --color-surface-container-high: #ebe7ec;
  --color-on-tertiary-fixed-variant: #633b48;
  --color-surface-bright: #fdf8fd;
  --color-background: #fdf8fd;
  --color-error-container: #ffdad6;
  --color-tertiary-container: #7d5260;
  --color-tertiary: #633b48;
  --color-inverse-surface: #313034;
  --color-surface-container: #f1ecf2;
  --color-on-secondary-fixed: #1e192b;
  --color-surface-container-highest: #e5e1e7;
  --color-on-surface: #1c1b1f;
  --color-on-error-container: #93000a;
  --color-surface-container-lowest: #ffffff;
  --color-secondary: #625b71;
  --color-outline-variant: #cbc4d2;
  --color-surface-dim: #ddd9de;
  --color-on-primary-fixed: #22005d;
  --color-outline: #7a7582;
  --color-on-tertiary: #ffffff;
  --color-error: #ba1a1a;
  --color-on-background: #1c1b1f;
  --color-on-secondary: #ffffff;
  --color-secondary-fixed-dim: #ccc2dc;
  --color-primary-fixed-dim: #cfbcff;
  --color-surface: #fdf8fd;
  --color-inverse-primary: #cfbcff;
  --color-secondary-fixed: #e8def9;
  --color-tertiary-fixed-dim: #eeb8c8;
  --color-on-error: #ffffff;
  --color-on-secondary-container: #686177;
  --color-primary-container: #6750a4;
  --color-on-tertiary-container: #ffcbda;
  --color-inverse-on-surface: #f4eff5;
  --color-on-primary-fixed-variant: #4f378a;
  --color-on-secondary-fixed-variant: #4a4358;
  --color-surface-container-low: #f7f2f8;
  --color-on-primary-container: #e0d2ff;
  --color-surface-variant: #e5e1e7;
}
